# Deepseek API Configuration
DEEPSEEK_API_KEY=

# SMTP Configuration
EMAIL_HOST=smtp.zoho.eu
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM_NAME=Tecnologia Sonix

# Stripe Payment Links
VITE_STRIPE_BASIC_LINK=
VITE_STRIPE_PRO_LINK=
VITE_STRIPE_AGENCY_LINK=

# Stripe Backend Webhook
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Firebase Admin Service Account (JSON stringificado para interactuar con la DB desde el backend)
FIREBASE_SERVICE_ACCOUNT=